<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    {% if site.sidebar-about-description %}
    <p>{{site.sidebar-about-description}}</p>
    {% endif %}
    <p>
      <i class="fa fa-envelope-o"></i>
      <a href="mailto:120768091@qq.com">120768091@qq.com</a>
    </p>
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
</section>